# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env
*.env

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Streamlit cache
.streamlit/secrets.toml

# OS / editor files
.DS_Store
.vscode/
.idea/

# Test / coverage files
.coverage
htmlcov/